<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrect Data Format</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Incorrect Data Format</h1>
        <p>Oops! The data retrieved from the external API does not have the expected format.</p>
        <p>Please check the data format and try again.</p>
        <p><a href="{{ url_for('index') }}">Go back to the home page</a></p>
    </div>
</body>
</html>
